@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .Telkom {
    --background: 0 0% 96%; /* putih terang */
    --foreground: 0 0% 30%; /* Abu-abu gelap */

    --card: 0 0% 100%; /* Putih */
    --card-foreground: 0 0% 30%; /* Abu-abu gelap */

    --popover: 0 0% 100%; /* Putih */
    --popover-foreground: 0 0% 30%; /* Abu-abu gelap */

    --primary: 0 79.5% 50%; /* Merah terang */
    --primary-foreground: 0 0% 100%; /* Putih */

    --secondary: 0 0% 90%; /* Abu-abu muda */
    --secondary-foreground: 0 0% 30%; /* Abu-abu gelap */

    --muted: 0 0% 80%; /* Abu-abu gelap */
    --muted-foreground: 0 0% 50%; /* Abu-abu sedang */

    --accent: 0 79.5% 50%; /* Merah terang */
    --accent-foreground: 0 0% 100%; /* Putih */

    --destructive: 0 79.5% 50%; /* Merah terang */
    --destructive-foreground: 0 0% 100%; /* Putih */

    --border: 0 0% 85%; /* Abu-abu terang */
    --input: 0 0% 90%; /* Abu-abu terang */

    --ring: 0 79.5% 50%; /* Merah terang */

    --chart-1: 0 79.5% 50%; /* Merah terang */
    --chart-2: 0 0% 80%; /* Abu-abu */
    --chart-3: 0 0% 96%; /* Abu-abu terang */
    --chart-4: 240 20% 50%; /* Biru sedang */
    --chart-5: 120 30% 70%; /* Hijau terang */

    --sidebar-background: 0 0% 100%; /* Putih */
    --sidebar-foreground: 0 0% 30%; /* Abu-abu gelap */
    --sidebar-primary: 0 0% 96%; /* Abu-abu terang */
    --sidebar-primary-foreground: 0 0% 30%; /* Abu-abu gelap */
    --sidebar-accent: 0 79.5% 50%; /* Bright red background */
    --sidebar-accent-foreground: 0 0% 100%; /* White text */
    --sidebar-border: 0 0% 85%; /* Abu-abu terang */
    --sidebar-ring: 0 79.5% 50%; /* Merah terang */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
